[gcode_arcs]
[firmware_retraction]
[pause_resume]
[exclude_object]
[display_status]
[force_move]
enable_force_move: true

[include macros.cfg]

#
#
# THIS IS A HARDWARE CONFIGURATION FILE
#
#

[mcu EBBCan]
canbus_uuid: 9cd87bcac180

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[stepper_x]
step_pin: PD6
dir_pin: !PD11
enable_pin: !PC6

microsteps: 32
rotation_distance: 40
endstop_pin: ^!EBBCan: PB6
position_endstop: 290
position_max: 295
position_min: 0

homing_positive_dir: true
homing_retract_dist: 5
second_homing_speed: 5
homing_speed: 100

[tmc2660 stepper_x]
cs_pin: PD14
spi_bus: usart1
interpolate: False
run_current: 1
sense_resistor: 0.051
#driver_SGT: 6

[stepper_y]
step_pin: PD7
dir_pin: !PD12
enable_pin: !PC6

microsteps: 32
rotation_distance: 40
endstop_pin: ^PA2
position_endstop: 0
position_max: 290
position_min: 0

homing_positive_dir: false
homing_retract_dist: 5
second_homing_speed: 5
homing_speed: 100

[tmc2660 stepper_y]
cs_pin: PC9
spi_bus: usart1
interpolate: False
run_current: 1
sense_resistor: 0.051
#driver_SGT: 6

[duplicate_pin_override]
pins: PB5

[stepper_z]
step_pin: PD8
dir_pin: PD13
enable_pin: !PC6
microsteps: 32
rotation_distance: 4
endstop_pin: ^PD29
position_endstop: 20
# endstop_pin: probe:z_virtual_endstop
homing_speed: 5
position_max: 255
position_min: -5
homing_retract_dist: 5.0
second_homing_speed: 2.5
homing_positive_dir: false

[tmc2660 stepper_z]
cs_pin: PC10
spi_bus: usart1
interpolate: False
run_current: 0.6
sense_resistor: 0.051

[extruder]
#step_pin: PD5
#dir_pin: PA1
#enable_pin: !PC6
rotation_distance: 7.84176
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 32
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.08
max_extrude_cross_section: 8
max_extrude_only_distance: 500.0
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
#heater_pin: !PA16
#sensor_type: dyze500
#sensor_pin: PC15
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -40
max_temp: 300
min_extrude_temp: 150
#hardware_pwm: true
pwm_cycle_time: 0.0002

[thermistor dyze500]
temperature1: 200.0
resistance1: 8070
beta: 5300

#[tmc2660 extruder]
#cs_pin: PC17
#spi_bus: usart1
#run_current: 1.2
#sense_resistor: 0.051
[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.450
stealthchop_threshold: 999999

[verify_heater extruder]
max_error: 150
hysteresis: 5

[heater_bed]
heater_pin: !PA19
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC13
#control: watermark
min_temp: 0
max_temp: 130

[bed_screws]
screw1: 0, 0
screw2: 0, 295
screw3: 295, 295
screw4: 295, 0

#[fan]
#pin: PC26  # FAN0
#max_power: 0.4
#hardware_pwm: true
#cycle_time: 0.000001

#[heater_fan heatbreak_cooling_fan]
#pin: PC23  # FAN1
#heater: extruder
#heater_temp: 50.0
#max_power: 0.4
#hardware_pwm: true
#cycle_time: 0.00000001

[fan]
pin: EBBCan: PA1

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0

#[heater_fan board_cooling_fan]
#pin: PA0  # FAN2

[mcu]
serial: /dev/serial/by-id/usb-Klipper_sam4e8e_003230533750414D3135303336303534-if00

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 15000
max_z_velocity: 30
max_z_accel: 500

#[adxl345]
#spi_bus: usart0
#cs_pin: PC20
#axes_map: y, z, x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20

[input_shaper]
#shaper_type_x = 2hump_ei
#shaper_freq_x = 78.8
#shaper_type_y = 2hump_ei
#shaper_freq_y = 61.0

# [bltouch a]
# control_pin: PC2
# sensor_pin: ^PE0
# set_output_mode: 5V
# stow_on_each_sample: false
# probe_with_touch_mode: true
# # pin_move_time: 0.3
# speed: 15
# lift_speed: 30
# x_offset: 36
# y_offset: -8
# #z_offset: 0

[load_cell_probe]
sensor_type: hx717
sclk_pin: PE1
dout_pin: PE2
gain: A-128
sample_rate: 80
sensor_orientation: inverted
trigger_force: 80
speed: 5
lift_speed: 10

[bed_mesh]
speed: 300
horizontal_move_z: 5
fade_start: 0.5
fade_end: 10
mesh_min: 75, 40
mesh_max: 285, 280
probe_count: 3
algorithm: bicubic
# faulty_region_1_min: 190.00, 200.00
# faulty_region_1_max: 235.00, 260.00

[gcode_button red_stop_button]
pin: ^PD10
press_gcode: {action_emergency_stop("Killed via The Button")}

[virtual_sdcard]
path: /var/lib/klipper/gcodes

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.048
#*# pid_ki = 2.522
#*# pid_kd = 114.916
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.112
#*# pid_ki = 2.028
#*# pid_kd = 522.527
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 80.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 56.8
#*#
#*# [stepper_z]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.001250, -0.000625, -0.035625, -0.041250, -0.054375, -0.075000, -0.078125
#*# 	-0.058125, -0.060625, -0.072500, -0.091875, -0.112500, -0.128125, -0.135625
#*# 	-0.124375, -0.108750, -0.136250, -0.150625, -0.153125, -0.165000, -0.167500
#*# 	-0.162500, -0.153750, -0.178750, -0.177500, -0.215625, -0.205000, -0.221250
#*# 	-0.214375, -0.212500, -0.195000, -0.217500, -0.244375, -0.266875, -0.283750
#*# 	-0.248750, -0.253125, -0.227500, -0.266250, -0.302500, -0.305000, -0.320000
#*# 	-0.289375, -0.286875, -0.276875, -0.310000, -0.331875, -0.346250, -0.346250
#*# 	-0.318750, -0.326250, -0.301875, -0.295625, -0.375625, -0.353125, -0.335625
#*# 	-0.351250, -0.326875, -0.356875, -0.361875, -0.343750, -0.366250, -0.340000
#*# x_count = 7
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 75.0
#*# max_x = 176.46
#*# min_y = 40.0
#*# max_y = 182.96
#*#
#*# [load_cell_probe]
#*# counts_per_gram = 255.15760
#*# reference_tare_counts = -134669
#*# z_offset = -0.247
